.firstDiv {
    color:blue;
}

.secondDiv{
    color:red;
}

#singledout{
    color:green;
    text-decoration: line-through;
}

h3 + ul{
    border: 2px solid purple;
}

li a{
    color:red;
}

li a[href="www.npr.org"]{
    color:darkcyan;
    border: 2px dotted black;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}